<p></p>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this user from being saved:
    </h3>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<p></p>

<%= bootstrap_form_for(@user) do |f| %>
    <p>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.text_field :username %>
    </p>
    <p>
        <%= f.password_field :password %>
    </p>
    <p>
        <%= f.email_field :email %>
    </p>
    <% if (!current_user || current_user.admin) %>
        <p>
            <%= f.check_box :admin %>
        </p>
    <% end %>
    <%= f.submit %>
<% end %>