<p>Order no.: <%= @order.id %>,  status: <%= @order.approved ? 'Approved' : 'Pending' %></p>

<p><h3>Order total: $<%= '%.2f' % @order.total_price %></h3></p>
<% if !current_user.admin %>
    <%= link_to  "Edit this order", edit_order_path(@order) %>
<% else %>
    Order in name of: <%= @order.user.name %>
    <%= link_to  "(approve this order)", order_path, method: :patch  %>
    <class<%= link_to  "(delete this order)", order_path, method: :destroy  %>
<% end %>

<table class="table">
    <thead>
        <tr>
            <th scope="">Item</th>
            <th scope="col">quantity</th>
            <th scope="col">Item Price</th>
            <th scope="col">Total Price</th>
        </tr>
    </thead>
    <tbody>
        <% @order.order_items.each do |oi| %>
            <tr>
                <th scope="row"><%= oi.item.name %></th>
                <td><%= oi.quantity %></td>
                <td><%= oi.item.price %></td>
                <td><%= '%.2f' % (oi.item.price * oi.quantity) %></td>
                <td></td>
            </tr>
        <% end %>
    </tbody>
</table>

