<%= render :partial => 'order_header' %>
<p>
<% if !order_approved? %>
    <% if admin %>
        Order in name of: <%= @order.user.name %>&emsp;
        <span><%= link_to  "Approve this order", order_path, method: :patch, class: "btn btn-success btn-sm" %></span>  
    <% else %>
        <span><%= link_to  "Edit this order", edit_order_path(@order), class: "btn btn-primary btn-sm" %></span> 
    <% end %>
    
    <span><%= link_to  "Delete this order", order_path, method: :delete, class: "btn btn-danger btn-sm" %></span>
<% end %>
</p>

<table class="table">
    <thead>
        <tr>
            <th scope="">Item</th>
            <th scope="col">quantity</th>
            <th scope="col">Item Price</th>
            <th scope="col">Total Price</th>
        </tr>
    </thead>
    <tbody>
        <% @order.order_items.each do |oi| %>
            <tr>
                <th scope="row"><%= oi.item.name %></th>
                <td><%= oi.quantity %></td>
                <td><%= number_to_currency(oi.item.price) %></td>
                <td><%= number_to_currency(oi.item.price * oi.quantity) %></td>
                <td></td>
            </tr>
        <% end %>
    </tbody>
</table>

