<% if session[:order_id] %>
    You are working on: <%= link_to  "Order #{session[:order_id]}", order_path(session[:order_id]) %>
<% end %>

<p><h4>Items available</h4></p>
<br>
<% @items.each do |item| %>
	<div>
		<div class="row">
			<div class="col-sm-2">
				<h5><%= item.name %></h5>
			</div>
            <div class="col-sm-4">
                <h6><%= item.description %></h6>
            </div>
            <div class="auto">
				<%= form_for(@order_item, remote: true) do |f| %>
                    <div class="row">
					    <%= f.hidden_field :item_id, value: item.id %>
					    <div class="col-sm-2">
                            <h5><%= number_to_currency(item.price) %></h5>
                        </div>
                        
					    <div class="form-group">
                        <div class="pull-right">
                            <div class="col-auto">&nbsp;
						        <%= f.text_field :quantity, value: 1, min: 1 %>
                            </div>
					    </div>
                        </div>
                        <div class="col-3">
					    <%= f.submit "Order", class: 'btn btn-primary btn-sm py-0' %>
                        </div>
                    </div>
				<% end %>
			</div>
		</div>
	</div>
    
<% end %>